*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-around;
    background-color: cyan;
    color: black;
    height: 10rem;
    padding: 1rem;
}

.logo {
    letter-spacing: 1rem;
}

.navbar {
    margin: 5px;
}

.navbar ul a {
    margin-right: 2rem;
}

.main{
    position: relative;
    top: 5rem;
}

.box-container{
    display: flex;
    height: 10rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: green;
    color: black;
}

.box{
    background-color: yellow;
    margin: 1rem 2rem 0 0;
    padding: 2rem 0 0 2rem;
    border: 2px solid;
    width: 5rem;
    height: 5rem;
    transition: 0.2s ease;
    animation-name: slideLeft;
    animation-duration: 2s;
}


.box:hover{
    background-color: lime;
}

.box:active{
    background-color: red;
    transform: scale(1.2) ;
} 



 @keyframes slideLeft{
    from{transform: translateX(300%)}
}




@media (max-width: 890px){
    .box-container{
        height: 13rem;
        background-color: purple;
    }
}


@media (max-width: 896px){
    .box-container{
        height: 13rem;
        background-color: brown;
    }
}

@media (max-width: 630px){
    .header-container {
      background-color: yellow;
      flex-direction: column;
      align-items: center;
    }
}


@media (max-width: 558px){
    .main{
      top: 2rem;
    }

   .box-container{
    background-color: cyan;
    height: 15rem;
   }

   .box{
    margin: 1rem;
   }
}



@media (max-width: 448px){
     .navbar ul a{
        display: block;
        margin: 0;
        text-align: center;
     }


    .box-container{
     background-color: orange;
     height: 20rem;
   }
   
}

@media (max-width: 336px){
    .box-container{
     background-color: pink;
     height: 28rem;
   }
}


@media (max-width: 223px){
    .box-container{
     background-color: blue;
     height: 55rem;
   }
}

@media (max-width: 200px){
    .header-container{
        width: 13rem;
    }
    
    .box-container{
     width: 13rem;
   }
}


