*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.header-container {
    display: grid;
    background-color: cyan;
    color: black;
    height: 10rem;
    justify-items: center;
    align-items: center;
    padding: 1rem;
}

.logo {
    letter-spacing: 1rem;
}

.navbar {
    margin: 5px;
}

.navbar ul a {
    margin-right: 2rem;
}

.box-container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 100px 100px;
    background-color: green;
    color: black;
}

.box{
    background-color: yellow;
    padding: 2rem 0 0 2rem;
    border: 2px solid;
    width: 5rem;
    height: 5rem;
}


@media (max-width: 430px){

    .box-container {
       background-color: blue;
       align-content: center;
       grid-template-columns: repeat(2, 100px);
       grid-template-rows: repeat(4, 90px);
    }

    .box{
        margin-left: 0.5rem;
    }

   
}


@media (max-width: 379px){

    .header-container {
       background-color: gold;
    }

    .navbar ul a {
        display: block;
        margin-right: 0;
        margin-top: 0.2rem;
        
    }
}

@media (max-width: 220px){

    .header-container {
       background-color: lime;
       width: 13.5rem;
    }

    .box-container{
        background-color: cyan;
        width: 13.5rem
    }
}

